@import '../../../shared-kernel/ui/variables';

@media (min-width:320px) {
	
	.pagination_wrapper{
		width: auto;
		padding-top: 10px;
		padding-bottom: 20px;
		background-color: $black;
	}

	.list {
		width: 250px;
		margin: 0 auto;
		display: flex;
		background-color: $black;
	
		a {
			width: 35px;
			height: 35px;
			margin-right: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 2px solid $gold;
			color: $gold;
			border-radius: 30px;
			cursor: pointer;
	
			&:hover {
				border: 2px solid $white;
				color: $white;
			}
		}
	
		:global {
			.selected {
				a {
					border: 2px solid $white;
				color: $white;
				}
			}
		}
	}
	

}

