@import '../../shared-kernel/ui/variables.scss';

@media (min-width: 320px) {

  .register_page_wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $black;
  }

  .title {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: $gold;
    border-radius: 10px;
  }

  .text {
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    color: $gold;
  }

  .link_login {
    width: 56px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: block;
    font-size: 21px;
    color: $gold;
    border-bottom: 1px solid $gold;;
  }

}
