@import '../../scss/variables/variables.scss';

@media (min-width: 320px) {

  .cart__item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-around;
    position: relative;
    border-bottom: 2px solid $gold;
  }

  .cart__item_img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid $gold;
  }

  .cart__item_info {
    height: 100px;
    min-width: 135px;
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    color: $white;
  }

  .cat_item_price_block {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .cart__item_count {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
      text-align: center;
      color: $white;
    }
  }

  .cart__item_count_minus,
  .cart__item_count_plus {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    border: 2px solid $gold;
    background-color: $white;
  }

  .cart__item_price {
    padding-top: 5px;
    padding-bottom: 5px;

    p {
      font-size: 18px;
      text-align: center;
      color: $white;
      border-bottom: 1px solid $gold;
    }
  }

  .cart__item_remove {
    padding: 3px 3px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    letter-spacing: 1px;
    background-color: $gold;
    color: $black;

    &:hover{
      border: 2px solid $gold;
      background-color: $black;
      color: $white;
    }
  }

  .cart_link_itempage {
    width: 220px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: absolute;
    left: 8px;
    bottom: 20px;
    background-color: $gold;
    color: $black;
    border-radius: 10px;

    &:hover{
      border: 2px solid $gold;
      background-color: $black;
      color: $white;
    }
  }






}