@import '../../scss//variables/variables.scss';

@media (min-width: 320px) {

  .form {
    width: 280px;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $gold;
    border-radius: 10px;
  }

  .input {
    width: 200px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    border: 2px solid $gold;
    border-radius: 10px;
    cursor: pointer;
  }

  .button{
    width: 200px;
    height: 30px;
    padding-bottom: 2px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid $gold;
    cursor: pointer;
    color: $white;

    &:hover{
      background-color: $white;
      color: $black;
    }
  }

}
