@media (min-width: 320px) {

  .categories {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        background-color: #f9f9f9;
        padding: 7px 10px;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 6px;
        border: 1px solid black;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        // @include noselect();

        &:hover {
          background-color: black;
          color: white;
        }

        &:active {
          background-color: black;
          color: white;
        }

        &.active {
          background-color: #282828;
          color: #fff;
        }
      }
    }
  }
}