.root{

  text-align: center;

  a{
    display: flex;
    width: 250px;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
  }
}