@media (min-width: 320px) {

  .title {
    padding-top: 20px;
    text-align: center;
    font-size: 28px;
  }

  .text {
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
  }

  .link_login {
    width: 56px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: block;
    font-size: 21px;
    border-bottom: 1px solid black;
  }

}