@import '../../../shared-kernel/ui/variables.scss';

@media (min-width: 320px) {
  
  .footer_wrapper {
    padding-top: 15px;
    padding-bottom: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $black;
  }

  .footer{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
    border: 2px $gold solid;
    border-radius: 10px;

  }

  .footer_title_wrapper {

    h3 {
      padding-bottom: 10px;
      text-align: center;
      font-size: 18px;
      color: $white;
      font-weight: 400;
    }

    h5 {
      text-align: center;
      font-size: 18px;
      color: $gold;
      font-weight: 200;
    }

  }

  .footer_list{
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
  }

  .footer_item {

    h5 {
      font-size: 16px;
      font-weight: 400;
      color: $gold;
      text-decoration: underline;
    }

  }
}