@import '../../../shared-kernel/ui/variables.scss';

@media (min-width: 320px) {
  .footer_wrapper{
    padding-top: 15px;
    padding-bottom: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $white;
  }

  .footer_title_wrapper{

    h3{
      font-size: 21px;
      padding-bottom: 5px;
    }

    h5{
      font-size: 18px;
    }
  }
}