@import '../../../shared-kernel/ui/variables.scss';

@media (min-width: 320px) {

  .item_page_wrapper {
    background-color: $black;
  }

  .id_title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    background-color: $black;
    color: $gold;
  }

  .item_img {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid $gold;
    border-radius: 10px;
  }

  .item_title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $gold;
  }

  .item_price {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    color: $gold
  }

  .about_price_block {
    width: 250px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 2px solid $gold;
    border-radius: 10px;

    p {
      text-align: center;
      color: $gold;
    }
  }

  .item_agent_ifo_list {
    width: 280px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $gold;
    border: 2px solid $gold;
    border-radius: 10px;
    
    .item_agent_ifo_params {
      margin-bottom: 20px;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-bottom: 15px;
      border-bottom: 1px solid $gold;
      
      &:last-child{
        border-bottom: none;
      }
      p{
        margin: 0;
        width: 100px;
      }
    }
  }

  .item_text_wrapper {
    width: 300px;
    height: 250px;
    margin: 0 auto;
    border: 2px solid $gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    h4 {
      color: $gold;
    }

    p {
      color: $gold;
    }
  }

  .item_block__button {
    min-width: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: $gold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color duration ease-in-out, border-color duration ease-in-out;
    border: 2px solid $black;
  }

  .item_block {
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: $white;
  }

  .item_block__list_type,
  .item_block__list_size {
    display: flex;
    justify-content: space-evenly;

    li {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 5px;
      display: flex;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;

      &:hover {
        background: $black;
        color: $white;
        border-radius: 6px;
      }

      &.active {
        background: $black;
        color: $white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        cursor: auto;
      }
    }

  }

}