@import '../../../shared-kernel/ui/variables.scss';

@media (min-width: 320px) {

  .item_page_wrapper{
    background-color: $black;
  }

  .id_title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 200;
    background-color: $black;
    color: $gold;
  }

  .item_img {
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid $gold;
    border-radius: 10px;
  }

  .item_title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: $gold;
  }

  .item_price {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    color: $gold
  }

  .about_price_block{
    width: 250px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 2px solid $gold;
    border-radius: 10px;
  
    p{
      text-align: center;
      color: $gold;
    }
  }

  .item_agent_ifo {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: $gold;
    li {
      width: 225px;
      height: 50px;
      margin-left: 25px;
      margin-bottom: 25px;
      padding-left: 25px;
      display: flex;
      align-items: center;
      border: 2px solid $gold;
      border-radius: 10px;
    }
  }

  .item_text_wrapper{
    width: 300px;
    height: 250px;
    margin: 0 auto;
    border: 2px solid $gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    h4{
      color: $gold;
    }

    p{
      color: $gold;
    }
  }

}
