@media (min-width: 320px) {

  .header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    width: auto;
  }

  .header__logo {
    display: flex;
    justify-content: center;
  }

  .header__logo_img {
    width: 80px;
    height: 80px;
  }


  .header_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 20px;
    }

    p {
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 14px;
      text-align: center;
    }
  }

  .header_user {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .header__login{
    position: relative;
  }

  .auth {
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    left: 2;
    bottom: -22;
  }

  .auth__active{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .auth__active_button{
    padding: 2px 5px;
  }

  .button__login {
    height: 47px;
    width: 50px;
    padding: 5px 10px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
  }



  .button__cart {
    width: 158px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid transparent;

    &,
    span {
      color: black;
    }

    &:hover {
      background-color: darken(white, 70%);
    }

    &:active {
      background-color: darken(white, 70%);
    }


    &_delimiter {
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
      margin-left: 14px;
      margin-right: 14px;
    }
  }


}

// ========================================= 680 px =====================================================


@media (min-width: 680px) {

  .header {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .header__logo {
    justify-content: space-between;
  }

  .header__logo_img {
    width: 100px;
    height: 100px;
  }

  .auth {
    padding-left: 40px;
  margin-right: auto;
  width: 222px;
  }

  .header_user {
    justify-content: space-between;
  }

  .header__login{
    padding-left: 60px;
  }

  .button__cart_price,
  .button__cart_count{
    margin-right: 20px;
  }

}

