@media (min-width: 320px) {

  .header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    width: auto;
  }

  .header__logo {
    display: flex;
    justify-content: space-evenly;
  }

  .header__logo_link {
    display: flex;
    width: 176px;
    justify-content: center;
  }


  .header__logo_img {
    width: 80px;
    height: 80px;
  }


  .header_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 20px;
    }

    p {
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 14px;
      text-align: center;
    }
  }

  .header_user {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
  }

  .header__login {
    position: relative;
  }

  .personal_office {
    padding-bottom: 10px;
    margin-bottom: 15px;

  }

  .auth {
    border: none;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding-left: 2px;
  }

  .auth__active {
    padding: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    border-radius: 6px;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  .auth__active_button {
    display: flex;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: none;
    font-size: 18px;

    &:hover {
      color: white;
      background-color: black;
      border-radius: 8px;
    }
  }

  .button__login {
    height: 47px;
    width: 50px;
    padding: 5px 10px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;

  }



  .header__cart {
    height: 45px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    border-radius: 10px;

    &:hover {
      background-color: black;
    }
  }

  .button__cart {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: white;
  }


}

// ========================================= 680 px =====================================================


// @media (min-width: 680px) {

//   .header {
//     padding-top: 30px;
//     padding-left: 40px;
//     padding-right: 40px;
//   }

//   .header__logo {
//     justify-content: space-between;
//   }

//   .header__logo_img {
//     width: 100px;
//     height: 100px;
//   }

//   .auth {
//     padding-left: 40px;
//     margin-right: auto;
//     width: 222px;
//   }

//   .header_user {
//     justify-content: space-between;
//   }

//   .header__login {
//     padding-left: 60px;
//   }

//   .button__cart_price,
//   .button__cart_count {
//     margin-right: 20px;
//   }

// }